@page
@model Trail_Tracker_App.Pages.Trails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Trails</h1>

<p>
    <a class="btn btn-info btn-sm" role="button" asp-page="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Trail[0].Name)</th>
                <th class="d-none d-md-table-cell">@Html.DisplayNameFor(model => model.Trail[0].Mountain)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trail)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Mountain.Name)</td>
                    <td>
                        @* <a class="btn btn-secondary btn-sm" asp-page="./Edit" asp-route-id="@item.TrailId">Edit</a> | *@
                        <a class="btn btn-secondary btn-sm" asp-page="./Details" asp-route-id="@item.TrailId">View</a> 
                    @*     <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.TrailId">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
