@page
@model Trail_Tracker_App.Pages.MountainRanges.IndexModel
@using Microsoft.AspNetCore.Html
@using System.Text.Encodings.Web

@{
    ViewData["Title"] = "Index";
}

<h1>Mountain Ranges</h1>

<p>
    <a role="button" class="btn btn-info" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mountainrange[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mountainrange[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mountainrange[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mountainrange) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @TruncateHtmlContent(Html.DisplayFor(modelItem => item.Description), 75)
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.RangeId">Edit</a> |
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.RangeId">View</a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.RangeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@* Helper method to truncate description text *@
@functions {
    public string TruncateHtmlContent(IHtmlContent content, int maxLength)
    {
        if (content == null)
        {
            return string.Empty;
        }

        // Convert IHtmlContent to string
        using (var writer = new StringWriter())
        {
            content.WriteTo(writer, HtmlEncoder.Default);
            var text = writer.ToString();

            // Truncate the text if it exceeds maxLength
            if (text.Length > maxLength)
            {
                return text.Substring(0, maxLength) + "...";
            }

            return text;
        }
    }
}
