@page
@model Trail_Tracker_App.Pages.Pictures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Upload Log</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].Trail)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].UploadedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].UploadDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].FilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Picture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trail.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PictureId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PictureId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PictureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
