@page
@model Trail_Tracker_App.Pages.Pictures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Upload Log</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model.Picture)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="@item.FilePath" alt="Trail picture" />
                <div class="card-body">
                    <h5 class="card-title">@item.Trail.Name</h5>
                    <p class="card-text">Uploaded by: @item.UploadedBy</p>
                    <p class="card-text">Upload date: @item.UploadDate</p>
                    <div class="btn-group" role="group">
                        <a asp-page="./Edit" asp-route-id="@item.PictureId" class="btn btn-secondary">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.PictureId" class="btn btn-secondary">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.PictureId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
