@page
@model Trail_Tracker_App.Pages.MyProfile.UserProfileModel

@{
    ViewData["Title"] = "UserProfile";
}

<h1>@Model.User.Identity.Name</h1>

@* Profile Picture *@
<div class="containerPic">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm" style="width: 200px; height: 250px; object-fit: cover;">
                <img src="@Model.Userprofile.ProfilePicture" class="card-img-top img-fluid" alt="Picture" style="width: 200px; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <dl class="row">
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.Identity.Name)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <h4>Userprofile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Userprofile.ProfilePicture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Userprofile.ProfilePicture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Userprofile.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Userprofile.Bio)
        </dd>  
    </dl>
</div>
<div>
    <a asp-page="./ProfileEdit" asp-route-id="@Model.Userprofile.UserProfileId">Edit</a> |
</div>

<h2>Uploads</h2>
@* user picture list *@
<div class="row">
    @foreach (var item in Model.PictureList)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <a asp-page="../Pictures/Details" asp-route-id="@item.PictureId" class="card-link">
                    <img class="card-img-top" src="@item.FilePath" alt="Trail picture" />
                    <div class="card-body">
                        @*   <h5 style="padding: 10px" class="card-title">@item.</h5> *@
                        <p style="padding: 10px" class="card-text">Uploaded by: @item.UploadedBy</p>
                        <p style="padding: 10px" class="card-text">Upload date: @item.UploadDate</p>
                    </div>
                </a>
                <div class="card-body">
                    <div class="btn-group" role="group">
                        <a asp-page="./Edit" asp-route-id="@item.PictureId" class="btn btn-secondary">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.PictureId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
